#querysearchinput{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}
#querysearchinput input{
    border: 0;
    box-shadow: none;
}
#querysearchinput button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}
#querysearchinput button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}
#querysearchinput .glyphicon-search{
    font-size: 23px;
}
#topnav {
    clear: both;
    position: relative;
    margin-bottom: 100px;
}
#bottompart {
    position: absolute;
}
.col-centered {
    margin: 0 auto;
    float: none;
}
.img {
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}