<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../static/css/index.css">
        <script src="../static/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../static/js/index.js"></script>
        <title>PicFood</title>
    </head>
    <body id="indexbody">
        <div id="toppart">
            <div id="spacertop"></div>
            <div id="picfoodjumbo" class="jumbotron">
                <div class="text-center">
                    <h1> PicFood </h1>
                </div>
            </div>
        </div>
        <div id="bottompart">
            <div class="text-center">
                <div class="slogan"> Let Your Eyes be Bigger than Your Stomach! </div>
                <div id="buttonholder">
                    <a id="login" href="login">
                        <button type="button" id="loginbutton" class="btn btn-primary btn-lg" > Login </button>
                    </a>
                    <a id="signup" href="signup">
                        <button type="button" id="signupbutton" class="btn btn-primary btn-lg" > Signup </button>
                    </a>
                </div>
            </div>
        </div>
    </body>
    <div class="footer">
        <p><b> PicFood 2016  </b> <br>
            Jin Kim, Austin Tang, Kyle Kirchenbauer
        </p>
    </div>
</html>