<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" type="text/css" href="../static/css/index.css">
        <script src="../static/bower_components/jquery/src/jquery.js"></script>
        <script src="../static/js/app.js"></script>
        <title>PicFood</title>
    </head>
    <body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/picfood" style="color: darkred;">PicFood</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav nav-pills navbar-right">
                    <li><a href="/myaccount" style="color: darkred;">My Account</a></li>
                    <li><a href="/logout" style="color: darkred;">Log out</a></li>
                </ul>
            </div>
        </div>
    </nav>
        <div class="slogan"> Let Your Eyes be Bigger than Your Stomach! </div>
    <div class="container">
        <div class="panel panel-primary" id="myaccountpanel">
            <div class="panel-heading" id="myaccountpanel_head"><h3>MY ACCOUNT</h3></div>
            <div class="panel-body">
            <p>
               <h4>Hi {{ session['username'] }} !</h4>
                <h4>Your favorite foods: {{ session['user_preference'] }} </h4>
            </p>
            </div>
            <br>
            <form class = "form-horizontal" action="" method="post">
                <div class="container-fluid">
                <div class="form-group">
                    <label for ="inputUserPreference" class="col-sm-3 control-label">Tell us your favorite foods!</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" placeholder="Input Food" name = "user_preference" value="{{
                        request.form.user_preference }}">
                </div>
                </div>
                <br>
                <input class="btn btn-primary btn-lg" type="submit" id = "preferencebutton" value="Update Preferences">
                </div>
            </form>
            <br>
        </div>
    </div>

    </body>
</html>