<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" type="text/css" href="../static/css/picfood.css">
        <script src="../static/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../static/js/picfood.js"></script>
        <title>PicFood</title>
    </head>
    <body>
        <div id="topnav" class="container-fluid">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/picfood" style="color: darkred;">PicFood</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav nav-pills navbar-right">
                            <li><a href="/myaccount" style="color: darkred;">My Account</a></li>
                            <li><a href="/logout" style="color: darkred;">Log out</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div id="bottompart" class="container-fluid">
            <div class="row">
                <div class="col-md-7 col-centered">
                    <h1 style="color: darkred;">PicFood Query Search</h1>
                    <div id="querysearchinput">
                        <div class="input-group col-md-12">
                            <input id="searchbox" type="text" class="form-control input-lg" placeholder="Search" value="" />
                            <span class="input-group-btn">
                                <button id="searchbutton" class="btn btn-info btn-lg" type="button">
                                    <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="imagewrapper" class="container-fluid"></div>
        </div>
        <input type="hidden" id="username" value={{ session['username'] }} />
        <input type="hidden" id="password" value={{ session['password'] }} />
        <input type="hidden" id="pref" value={{ session['user_preference'] }} />
    </body>
</html>